/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/
@font-face {
font-family: 'gothamBold';
src: url('../font/gotham-rounded/GothamRnd-Bold.otf');
}

@font-face {
font-family: 'gothamBoldItal';
src:url('../font/gotham-rounded/GothamRnd-BoldItal.otf');
}

@font-face {
font-family: 'gothamBook';
src:url('../font/gotham-rounded/GothamRnd-Book.otf');
}

@font-face {
font-family: 'gothamBookItal';
src:url('../font/gotham-rounded/GothamRnd-BookItal.otf');
}

@font-face {
font-family: 'gothamLight';
src:url('../font/gotham-rounded/GothamRnd-Light.otf');
}

@font-face {
font-family: 'gothamLightItal';
src:url('../font/gotham-rounded/GothamRnd-LightItal.otf');
}

@font-face {
font-family: 'gothamMedItal';
src:url('../font/gotham-rounded/GothamRnd-MedItal.otf');
}

@font-face {
font-family: 'gothamMed';
src:url('../font/gotham-rounded/GothamRnd-Medium.otf');
}



html, body { min-height: 100%; }
a { text-decoration: none; }

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}

.main-header {
  position: relative;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
  a {
    position: absolute;
    left: 20px;
    top: 20px;
  }
}

.nav-bar {
     height: 145px;
     background: #f9f9f9;
     padding: 40px 9em 0 5.5em;
     box-shadow: 0px 0px 14px 0px rgb( 182, 183, 182 );
}

.main-pane {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  background: #e0e4e4;
  padding-bottom: 138em;   
  /*z-index: 10;*/
}

.drawers {
  position:absolute;
  /*z-index: 9;*/
}

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.align-right {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.align-left {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/




/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */

.logo img { 
     width: 5em;
     height: auto;
}



.logo {
     float: left;

     
}

.suggestion  {
     margin: 1.7em 2em 0 2em;
     display: block;
}

h1 {
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase;
     color: #78a19d;
     font-size: 4.1em;
     text-align: center;
     font-weight: 700;
     letter-spacing: .24em;
     margin: 0;
     padding-top: .2em;

}

.investor {
     background: #e87368;
     color: #fff;
     text-transform: uppercase;
     letter-spacing: .1em;
     padding: .7em 1.7em;
     border-radius: 4px;
     font-family: 'gothamLight';
     font-size: 30px;
}

.name {
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
}

.card {
     display: block;
     background: #fff;
     padding: .9em 1em .03em;
     text-align: center;
     box-shadow: 0.5px 0.866px 6px 0px rgb( 198, 198, 192 );
     margin: 2.2em 5em 0 5em;
     position: relative;
     z-index: 10;
}

.card-2 {
     display: block;
     background: #fff;
     padding: 2em 1em .03em;
     text-align: center;
     box-shadow: 0.5px 0.866px 6px 0px rgb( 198, 198, 192 );
     margin: -1.5em 5.9em 0 5.9em;
     position: relative;
     z-index: 9;
}

.card-3 {
     display: block;
     background: #fff;
     padding: 2em 1em .03em;
     text-align: center;
     box-shadow: 0.5px 0.866px 6px 0px rgb( 198, 198, 192 );
     margin: -.6em 6.9em 0 6.9em;
     position: relative;
     z-index: 8;
}

.circular {
     width: 175px;
     height: auto;
     border-radius: 150px;
     /*-webkit-border-radius: 150px;
     -moz-border-radius: 150px;*/
     background: url(img/startup-logo.png) no-repeat;

}


.startup-name {
  font-size: 6.1em;
  font-family: "Montserrat", sans-serif;
  color: rgb( 88, 88, 88 );
  text-transform: uppercase;
  font-weight: 400;
  margin-top: .3em;

}

.startup-details {
  font-size: 44px;
  font-family: "gothamBook";
  color: rgb( 115, 115, 115 );
  line-height: 1.15;
  padding: .1em 30px .5em;
  margin-top: .5em;
}

.founder-pic {
  border-radius: 50%;
  background-color: rgb( 194, 198, 198 );
  width: 105px;
  height: auto;
  float: left;
  margin-top: 2.5em;
}

.founder-name {
  font-size: 42px;
  font-family: "Montserrat", sans-serif;
  color: rgb( 88, 88, 88 );
  font-weight: 700;
  line-height: 1.154;
  text-align: left;
  padding-left: 3.2em;
  letter-spacing: .01em;

}

.startup-team {
padding: 1em 40px;

}

a:hover {
     text-decoration: none;
}

.founder-details {
  font-size: 40px;
  font-family: "gothamBook";
  color: rgb( 154, 154, 154 );
  line-height: 1.32;
  text-align: left;
  padding-left: 3.2em;
  
}

.left-title {
  font-size: 39px;
  font-family: "Montserrat", sans-serif;
  color: rgb( 120, 161, 157 );
  font-weight: 700;
  line-height: 0.545;
  text-align: left;
  text-transform: uppercase;
  padding-left: 1.1em;
  padding-top: .2em;


}

.right-title {
  font-size: 80px;
  font-family: "gothamBook";
  color: rgb( 120, 161, 157 );
  line-height: 0.267;
  text-align: right;

}



.founder {
     padding: 2em 0;
}

.raising {
     padding: .9em 3.5em 1em;
}

.pic-container {
     float: left;

}

.thunder {
     width: 80px;
     height: auto;
}

.data-container {
     padding-top: .3em
}

.left-container {
     float: left;
}

.right-container {
     float: right;
}

.bar {
     clear: both;
     padding-left: 10em;
}

.progress {
     height: 7px;
     margin-bottom: 20px;
     overflow: hidden;
     background-color: rgb( 214, 212, 212 );
     border-radius: 4px;
}

.progress-bar {
     float: left;
     width: 0;
     height: 100%;
     font-size: 12px;
     color: #fff;
     text-align: center;
     background-color: #78a19d;
     -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
     box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
     -webkit-transition: width .6s ease;
     transition: width .6s ease;
}

.instructions {
  font-size: 30px;
  font-family: "gothamBook";
  color: rgb( 181, 208, 194 );
  line-height: 0.75;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: .6em;
  padding-top: 1.1em;
}

.nav-icons {
     padding-left: 20em;
     padding-top: 4em;
     padding-right: 5em;
     text-align: center;
}

.archive {
     float: left;
     display: block;
     padding-right: 1em;
     

}

.heart {
     display: block;
}

.archive-label {
  font-size: 36px;
  font-family: "Montserrat" sans-serif;
  color: rgb( 159, 195, 177 );
  line-height: 0.667;
  text-transform: uppercase;
  padding-top: .3em
}


.archive-icon {
     width: 100px;
     height: auto; 
     padding-bottom: 1.3em;
}

.save-icon {
     width: 120px;
     height: auto; 
     padding-bottom: 1.3em;
}

.save-label {
     font-size: 36px;
     font-family: "Montserrat" sans-serif;
     color: #e87368;
     line-height: 0.667;
     text-transform: uppercase;
     padding-top: .3em

}

.home-menu {
  position: absolute;
  background: rgb( 37, 41, 41 );
  float: left;
  /*z-index: 9;*/
  padding: 3.5em 5em;
  width: 100%;
  display: block;

}

#title-lable {
  display: block;

}

.big-title {
  font-size: 40px;
  font-family: "gothamBook";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  float: left;
  padding-left: 1em;
}

.logout {
  position:absolute;
  background-color: rgb( 45, 48, 48 );
  float: left;
  /*z-index: 9;*/
  clear: both;
  padding: 3.5em 5em;
  width: 100%;
  margin-top: 147px;
  display: block;

}

.lists {
  position: absolute;
  background-color: rgb( 69, 71, 71 );
  float: left;
  /*z-index: 9;*/
  clear: both;
  padding: 3.5em 5em;
  width: 100%;
  margin-top: 294px;
  display: block;

}

.logout-img {
  float: left;
  width: 5em;
  height: auto;

}

.logo-left {
  float: left;
  width: 5em;
  height: auto;
  background-image: url("img/logo-light.png");
}



.logo {
     float: left;


}

.nav-img {
  float: left;
  width: 4.5em;
  height: auto;
  padding-top: 1em;

}

.color-indicator {
  float: left;
  height: 60px;
  width: auto;

}

.text-left {
  font-size: 42px;
  font-family: "gothamBook" sans-serif;
  color: rgb( 255, 255, 255 );
  padding-left: 2.1em;
  display: block;
  
}

.text-right {
  font-size: 42px;
  font-family: "gothamBook" sans-serif;
  color: rgb( 255, 255, 255 );
  float: right;
  display: none;

}

.list-line {
  position: absolute;
  display: block;
  padding: 3.7em 14.7em 3.7em 4.7em;
  background: #202525;
  clear: both;

}

.line-1 {
  margin-top: 441px;
  padding-right: 39em;
}

.line-2 {
  margin-top: 593px;
  padding-right: 26em;
}

.line-3 {
  margin-top: 746px;
}

.line-4 {
  margin-top: 898px;
}

.line-5 {
  margin-top: 1052px;
  padding: 25em 392px;
}

#list-container {
  clear: both;
  padding-bottom: 7em;
}

.line-1-active {
  background: #78a19d;
}

.line-2-active {
  background: #9fc3b1;
}

.line-3-active {
  background: #b4d2c3;
}

.line-4-active {
  background: #ee8d82;
}

.main-line-background-active {
  background: #e0e4e4;
  /*position: absolute;*/

}

.big-title-active {
  color: #78a19d;
  /*font-family: "gothamMed" sans-serif;*/


}

ul {
  margin-bottom: 0;
}